<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Body</th>
      <th><%= link_to 'New_Article', new_article_path %></th>
      <th><%= link_to 'Users', users_path %></th>
      <th><%= link_to 'Back to home', root_path %></th>
    </tr>
  </thead>

  <tbody>
  <% @articles.each do |article| %>
    <tr>
      <%= render article %>
    </tr>
    <% end %>
  </tbody>
</table>
